
.cartContainer {
  background-color: #efefefbc;
  width: 80%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow);
  justify-content: center;
  margin: 50px auto;
}
.cartContainer h2,
.cartContainer h3 {
  margin: 20px auto;
  text-align: center;
  max-width: 600px;
}

.cartContainer h2 {
  margin-top: 50px;
  text-transform: uppercase;
  font-size: 3em;
}

.cartParagraph {
  margin-bottom: 20px;
  max-width: 600px;
}



.cartCard {
  display: flex;
  flex-direction: column;
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  background-color: var(--bg-color);
  box-shadow: var(--shadow);
  border: 1px solid #efefef;
  max-width: 500px;
  min-width: 350px;
  max-height: 200px;
  flex: 1;
  text-decoration: none;
}

.cartCard img {
  max-width: 30%;
  min-width: 50%;
  max-height: 200px;
}

.cartCardContent {
  margin-left: 30px;
}

.cartCardContent p {
  font-weight: 300;
  font-size: 12px;
  margin: 5px;
  color: #000;
}

.totalSum {
  margin: 50px auto;
  font-weight: 600;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.totalSum p {
  margin-top: 50px;
  color: var(--primary-color);
  font-size: 15px;
}

@media only screen and (max-width: 783px) {
  .cartContainer {
    min-width: 90%;
    padding-bottom: 40px;
  }
  .cartCard {
    min-height: 230px;
    min-width: 100px;
  }

  .cartCardContent {
    display: flex;
    flex-direction: column;
    height: auto;
    color: var(--dark);
  }

  .cartCard img {
    min-height: 230px;
    min-width: 40%;
  }
}
