.checkoutContainer {
  max-width: 600px;
  margin: 0 auto;
}

.childHeader {
  margin: 40px auto;
  text-align: center;
}

.childText p {
  font-weight: 400;
  font-size: 20px;
  margin: 10px auto;
  text-align: center;
  line-height: 1.8;
}

@media only screen and (max-width: 783px) {
  .childText {
    font-size: 15px;
    padding: 0px 40px 0px 40px;
    text-align: left;
    align-items: center;
  }
}
