.childHeader,
.childText {
  margin: 50px auto;
  text-align: center;
}

.childText {
  font-weight: 400;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 60px;
}

@media only screen and (max-width: 783px) {
  .childText {
    font-size: 15px;
    padding: 0px 40px 0px 40px;
    text-align: left;
    align-items: center;
  }
}
