form {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.headForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

.nameContainer input {
  width: 90%;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
}

textarea,
input {
  padding: 10px;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  max-width: 700px;
  width: 100%;
}

.error {
  color: red;
  margin-top: 0.5rem;
  font-size: 12px;
  font-weight: 300;
}

.formSuccess {
  font-weight: 300;
  font-size: 16px;
}

@media only screen and (max-width: 783px) {
  textarea,
  input {
    width: 90%;
  }

  label {
    font-size: 15px;
  }

  form h1 {
    font-size: 2rem;
    margin-top: 0px;
  }
}
