.productContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-image: url('/public/assets/images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.productContainer .headerText {
  margin: 40px auto;
  font-size: 30px;
  font-weight: 600;
}

.productContainer h2 {
  margin: 10px auto;
  font-weight: 300;
}

.productList {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px auto;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 783px) {
  .productContainer {
    height: auto;
    min-width: 90%;
    width: 100px;
  }

  .productList {
    display: flex;
    flex-direction: column;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
