.heroContainer {
  background-image: url('../assets/images/hero.jpg');
  background-size: cover;
  background-position: center;
  height: 600px;
}

.heroBanner {
  text-align: center;
  align-items: center;
  display: flex;
  width: 300px;
  flex-direction: column;
  margin-left: 10%;
  display: flex;
}

.heroBanner h4 {
  font-weight: 300;
  margin-top: 80%;
  margin-bottom: 10px;
  color: var(--bg-color);
}

.heroBanner h3 {
  font-size: 2.2rem;
  color: var(--bg-color);
  margin-top: 0px;
}

.clock {
  color: var(--bg-color);
  font-weight: 300;
  margin-bottom: 20px;
}


.searchBar {
  color: var(--primary-color);
  margin: 30px auto;
  font-size: 40px;
  max-width: 600px;
  margin-bottom: 0px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #1010106e;
}


.filterContainer {
  display: flex;
  width: 400px;
  margin: 0 auto;
}

.productContainer h2 {
  margin: 10px auto;
  font-weight: 300;
}

.productList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 783px) {
  .productContainer {
    height: auto;
    min-width: 90%;
    max-width: 90%;
  }

  .productList {
    display: flex;
    flex-direction: column;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .heroContainer h1 {
    font-size: 20px;
  }
}
