.heroContainer {
  background-image: url('../assets/images/hero.jpg');
  background-size: cover;
  background-position: center;
  height: 600px;
}

.heroContainer h1 {
  color: #efefef;
  margin-top: 150px;
  padding-left: 70px;
  font-size: 40px;
  max-width: 600px;
  margin-bottom: 0px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #1010106e;
}

.heroBanner {
  background-color: var(--bg-color);
  padding: 10px;
}

.heroBanner h3 {
  font-weight: 300;
  font-size: 15px;
  margin: 0;
}


.productContainer h2 {
  margin: 10px auto;
  font-weight: 300;
}

.productList {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px auto;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 783px) {
  .productContainer {
    height: auto;
    min-width: 90%;
    max-width: 90%;
  }

  .productList {
    display: flex;
    flex-direction: column;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .heroContainer h1 {
    font-size: 20px;;
  }
}
