.productDetailsCard {
  margin: 50px auto;
  height: 90%;
  width: 90%;
  max-width: 600px;
  background-color: var(--bg-color);
  border: 1px solid #efefef;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.productDetailsContent {
  margin: 20px;
  height: auto;
}

.productDetailsFoot h3 {
  color: red;
}

.productDetailsFoot h4 {
  text-decoration: line-through;
}

.productDetailsContainer {
  min-width: 80%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

.productDetailsImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  overflow: hidden;
}

/* product details */

.productDetails {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #efefef;
  box-shadow: var(--shadow);
}

.quantityContainer {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.quantityContainer p {
  margin: 5px 10px;
  font-size: 16px;
  font-weight: 500;
}

/*  reviews  */

.reviewHeader {
  margin: 0 auto;
  padding: 20px;
  max-width: 200px;
}

.reviewsContainer {
  background-color: var(--bg-color);
  border: 1px solid #efefef;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 80%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: var(--shadow);
  max-width: 600px;
}

.singleReview {
  margin-top: 10px;
}

.review {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px auto;
}

.reviewFoot {
  display: flex;
  max-width: 90%;
  box-sizing: border-box;
  margin: 0px auto;
  border-bottom: 0.1px solid #000;
}

.reviewFoot p {
  padding-right: 20px;
  width: 300px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 783px) {
  .reviewFoot {
    display: flex;
    flex-direction: column;
  }

  .reviewFoot p {
    width: 100%;
    align-items: center;
    margin: 10px auto;
    text-align: center;
  }
}
