.navbar {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000000d6;
}

.navbar h1 {
  color: #d6d7db;
  font-size: 3em;
  margin: 0;
}

.nav-links {
  display: flex;
}

.navbar a {
  text-decoration: none;
  color: #d6d7db;
  padding: 6px;
  margin-left: 16px;
}

.navbar a:hover {
  color: var(--hover);
}

.burger-menu {
  display: none;
}

button {
  display: none;
}

@media only screen and (max-width: 783px) {
  .navbar h1 {
    font-size: 2em;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #000000d6;
    width: 100%;
    padding: 20px 0;
    position: absolute;
    top: 80px;
    left: 0;
  }

  .navbar a {
    margin: 10px 0;
    padding: 10px;
    align-items: center;
    text-align: center;
  }

  /* Show menu links when burger menu is active */
  .nav-links.active {
    display: flex;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    background: transparent;
    color: var(--bg-color);
    border: none;
    cursor: pointer;
    padding: 0;
  }

  /* burger menu lines */
  .burger-menu span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--bg-color);
    transition: all 0.3s ease-in-out;
  }
}
