.smallButton,
.cartItemButton,
.itemButton,
.filterButton,
.shopSale,
.primaryButton {
  margin: 30px auto;
  width: 90%;
  max-width: 150px;
  min-width: 80px;
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
  padding: 15px 10px;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #efefef;
  border-radius: 50px;
  background-color: var(--dark);
  color: var(--bg-color);
  box-shadow: var(--shadow);
}

.filterButton {
  margin-top: 0px;
  padding: 15px;
  width: 30%;
}

.itemButton {
  height: 5px;
  width: 5px;
  padding: 15px;
  font-weight: 700;
  font-size: 15px;
  align-items: center;
  margin: 0px;
}

.active {
  color: #efefef;
  background-color: var(--primary-color);
  border-color: #efefef;
}

.shopSale {
  box-shadow: none;
  background-color: transparent;
  border-width: 2px;
}

@media only screen and (max-width: 783px) {
  .smallButton {
    font-size: 12px;
    height: 45px;
    width: 100px;
    margin: 20px auto;
    max-width: 300px;
  }

  .primaryButton {
  font-size: 12px;
  }
}
