.onSalePrice {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.onSalePrice p {
  font-size: 12px;
  font-weight: 500;
  color: red;
  margin: 0px;
}

.onSalePrice h3 {
  margin: 0px auto;
  font-size: 20px;
}
