.productCard {
  border: 1px solid #efefef;
  margin: 20px;
  width: calc(33.33% - 40px);
  max-width: 300px;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow);
  background-color: var(--bg-color);
}

.productCard h3 {
  color: red;
}

.cardContent {
  max-width: 650px;
  margin: 0px auto;
  max-height: 300px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.cardHeadContent,
.cardFootContent {
  width: 100%;
  justify-content: center;
  margin: 10px auto;
  text-align: center;
}

.cardHeadContent {
  text-align: left;
  height: 150px;
  margin-bottom: 10px;
  font-size: 14px;
}

.cardFootContent {
  height: 100px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  overflow: hidden;
}

.onSale {
  text-decoration: line-through;
  margin: 10px auto;
  font-size: 15px;
  padding: 0px;
}

@media only screen and (max-width: 783px) {
  .productCard {
    display: flex;
    flex-direction: column;
    min-width: 90%;
    height: auto;
    min-height: 300px;
  }
  .cardContent {
    margin: 0 auto;
  }

  .cardContent h2 {
    padding: 0px;
    margin-top: 30px;
    font-size: 18px;
  }
  .cardHeadContent {
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
  }

  .cardFootContent {
    box-sizing: border-box;
    height: 100%;
    margin: 10;
    padding: 0;
  }

  .imageContainer {
    width: 100%;
    height: 100%;
  }
}
