@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
  --primary-color: #38609d;
  --secondary-color: #9ca9e0;
  --hover: #38609d;
  --dark: #000;
  --bg-color: #d6d7db;
  --shadow: 5px 5px 10px #888888;
}

body {
  background-image: url('/public/assets/images/bg.jpg');
  font-family: 'Lexend', sans-serif;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  min-height: 100vh; /* Use min-height to ensure the body fills the viewport height */
}



.navbar {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000000d6;
}

.navbar h1 {
  color: #d6d7db;
  font-size: 3em;
  margin: 0;
}

.nav-links {
  display: flex;
}

.navbar a {
  text-decoration: none;
  color: #d6d7db;
  padding: 6px;
  margin-left: 16px;
}

.navbar a:hover {
  color: var(--hover);
}

.burger-menu {
  display: none;
}

/* product-list */
.product-container {
  width: 90%;
  height: 90%;
  margin: 0 auto;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.product-card {
  border: 1px solid #efefef;
  margin: 20px;
  width: calc(33.33% - 40px);
  align-items: center;
  box-sizing: border-box;
  display: inline-block;
  box-shadow: var(--shadow);
  background-color: var(--bg-color);
}

.card-content {
  max-width: 650px;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  overflow: hidden;
}


/* product details */

.product-details {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #efefef;
  box-shadow: var(--shadow);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.view-button,
.buy-button {
  display: inline-block;
  padding: 10px 30px;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #efefef;
  border-radius: 50px;
  background-color: var(--primary-color);
  color: #efefef;
  transition:
    background-color 0.3s,
    color 0.3s;
  box-shadow: var(--shadow);
  margin: 5px;
}

/* view button */
.view-button {
  margin: 50px auto;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;

}


/* product page */
.product-page-container {
  width: 80%;
  max-width: 600px;
  height: 50%;
  margin: 50px auto;
  border: 1px solid #efefef;
  box-shadow: var(--shadow);
}

/* Small devices (tablets, 768px - 992px) */
@media only screen and (max-width: 568px) {
  .navbar h1 {
    font-size: 2em;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #000000d6;
    width: 100%;
    padding: 20px 0;
    position: absolute;
    top: 80px;
    left: 0;
  }

  .navbar a {
    margin: 10px 0;
    padding: 10px;
    align-items: center;
    text-align: center;
  }

  /* Show menu links when burger menu is active */
  .nav-links.active {
    display: flex;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    background: transparent;
    color: var(--bg-color);
    border: none;
    cursor: pointer;
    padding: 0;
  }

  /* burger menu lines */
  .burger-menu span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--bg-color);
    transition: all 0.3s ease-in-out;
  }
}
