@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
  --primary-color: #38609d;
  --secondary-color: #9ca9e0;
  --hover: #38609d;
  --dark: #000;
  --bg-color: #d6d7db;
  --shadow: 5px 5px 10px #888888;
}

body {
  margin: 0;
}
p {
  font-weight: 200;
  font-size: 12px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Small devices (tablets, 768px - 992px) */
@media only screen and (max-width: 783px) {
  body {
    background-attachment: fixed;
  }
}
