@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
  --primary-color: #38609d;
  --secondary-color: #9ca9e0;
  --hover: #c8d0db;
  --dark: #000;
  --bg-color: #D6D7DB;
  --shadow: 5px 5px 10px #888888;
}

body {
  background-image: url('/public/assets/images/bg.jpg');
  background-repeat: repeat-x;
  font-family: 'Lexend';
  color: var(--dark);
  max-width: 100%;
  margin: 0;
  background-repeat: repeat-x;
  background-color: var(--bg-color);
  background-position: center;
}

.navbar {
  display: flex;
  max-width: 100%x;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  height: 50px;
  background-color: #000000d6;
}

.navbar h1 {
  color: #D6D7DB;
  font-size: 3em;
}

.nav-links {
  margin-left: auto;
  margin-top: 20px;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: var(--hover);
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  color: var(--primary-color);
}

h2 {
  text-align: center;
  font-size: 1.2em;
  color: #000;
}

p {
  font-weight: 200;
  color: #000;
  font-size: 0.7em;
}

h5 {
  color: var(--secondary-color);
}

.App {
  font-size: 1.2em;
  margin: 10px auto;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #D6D7DB;
  font-size: 0.9em;
  font-weight: 300;
}

/* product card */

.product-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.product-card {
  border: 1px solid #efefef;
  margin: 20px;
  width: calc(33.33% - 40px);
  align-items: center;
  box-sizing: border-box;
  display: inline-block;
  box-shadow: var(--shadow);
}
.card-content {
  max-width: 650px;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  overflow: hidden;
}

/* product details */

.product-details {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #efefef;
  box-shadow: var(--shadow);

}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.buy-button {
  display: inline-block;
  padding: 10px 55px;
  font-size: 16px;
  font-weight: 200;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #efefef; /* Button border color */
  border-radius: 50px; /* Rounded corners */
  background-color: var(--primary-color); /* Button background color */
  color: #efefef; 
  transition: background-color 0.3s, color 0.3s; /* Smooth transition on hover */
  box-shadow: var(--shadow);
}

/* btn Hover effect */
.buy-button:hover {
  background-color: var(--primary-color); 
  color: #000; 
}