@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
  --primary-color: #38609d;
  --secondary-color: #9ca9e0;
  --hover: #38609d;
  --dark: #000;
  --bg-color: #d6d7db;
  --shadow: 5px 5px 10px #888888;
}

body {
  background-image: url('/public/assets/images/bg.jpg');
  font-family: 'Lexend', sans-serif;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  min-height: 100vh;
  background-attachment: fixed;
}

.App {
  height: auto;
  min-height: 100vh;
  max-width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #000000d6;
  color: var(--bg-color);
  text-align: center;
  padding: 20px 0;
  display: flex;
  font-size: 12px;
  flex-direction: column;
  bottom: 0;
  width: 100%;
}

p {
  font-weight: 200;
  font-size: 12px;
}

.navbar {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000000d6;
}

.navbar h1 {
  color: #d6d7db;
  font-size: 3em;
  margin: 0;
}

.nav-links {
  display: flex;
}

.navbar a {
  text-decoration: none;
  color: #d6d7db;
  padding: 6px;
  margin-left: 16px;
}

.navbar a:hover {
  color: var(--hover);
}

.burger-menu {
  display: none;
}

/* product-list */
.product-details-card,
.product-container {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px auto;
  align-items: center;
  justify-content: center;
}

.product-card {
  border: 1px solid #efefef;
  margin: 20px;
  width: calc(33.33% - 40px);
  max-width: 300px;
  align-items: center;
  box-sizing: border-box;
  display: inline-block;
  box-shadow: var(--shadow);
  background-color: var(--bg-color);
}

.card-content {
  max-width: 650px;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.card-head-content,
.card-foot-content {
  height: 100px;
  width: 100%;
  justify-content: center;
  margin: 10px auto;
  text-align: center;
}

.card-head-content {
  text-align: left;
  height: 150px;
  margin-bottom: 10px;
  font-size: 14px;
}

.card-foot-content {
  height: 80px;
}

.product-details-image,
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  overflow: hidden;
}

.on-sale {
  text-decoration: line-through;
  margin: 10px auto;
  font-size: 15px;
  padding: 0px;
}

.on-sale-price {
  display: flex;
  padding: 5px 5px;
  border-radius: 3px;
  font-size: 12px;
  margin-right: 5px;
}

.on-sale-price p {
  color: #000;
  font-weight: 500;
  margin-top: 2px;
  padding-right: 20px;
}
.on-sale-price h3 {
  margin-top: 0px;
  padding: 0px;
  color: red;
  font-size: 15px;
}

/* product details */

.product-details {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #efefef;
  box-shadow: var(--shadow);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*  product details page */

.product-details-card {
  margin: 50px auto;
  height: 90%;
  width: 60%;
  max-width: 600px;
  background-color: var(--bg-color);
  border: 1px solid #efefef;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.product-details-content {
  margin: 20px;
  height: 300px;
}

.product-details-foot h3 {
color: red;
}

.product-details-image {
  height: 500px;
}

.view-more-button,
.view-button,
.buy-button {
  display: inline-block;
  padding: 10px 30px;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #efefef;
  border-radius: 50px;
  background-color: #000;
  color: #efefef;
  box-shadow: var(--shadow);
  transition: background-color 0.2s ease;
  margin: 5px;
}

.view-more-button {
  margin: 10px auto;
  width: 150px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 150px;
}

/* view button */
.view-button {
  margin: 50px auto;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

/* product page */
.product-details-container {
  min-width: 80%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

.product-details-img {
  height: 100px;
}

/*  reviews  */
.reviews-container {
  background-color: var(--bg-color);
  border: 1px solid #efefef;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 60%;
  box-sizing: border-box;
  box-shadow: var(--shadow);
}

.review {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.review-foot {
  display: flex;
  box-sizing: border-box;
  margin: 0px auto;
}

.review-foot p {
  padding-right: 20px;
}

.cart-container {
  background-color: #000;
  width: 90%;
  height: 70%;
  margin: 40px auto;
}
/* Small devices (tablets, 768px - 992px) */
@media only screen and (max-width: 783px) {
  body {
    background-attachment: fixed;
  }

  .navbar h1 {
    font-size: 2em;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #000000d6;
    width: 100%;
    padding: 20px 0;
    position: absolute;
    top: 80px;
    left: 0;
  }

  .navbar a {
    margin: 10px 0;
    padding: 10px;
    align-items: center;
    text-align: center;
  }

  /* Show menu links when burger menu is active */
  .nav-links.active {
    display: flex;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    background: transparent;
    color: var(--bg-color);
    border: none;
    cursor: pointer;
    padding: 0;
  }

  /* burger menu lines */
  .burger-menu span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--bg-color);
    transition: all 0.3s ease-in-out;
  }

  /* product list */

  .product-container {
    height: 100%;
    width: 95%;
  }

  .product-list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .product-card {
    width: calc(100% - 40px);
    max-width: 800px;
    height: 300px;
    display: flex;
  }

  .card-content {
    margin: 0;
    padding: 0;
  }
  .card-content h2 {
    padding: 0px;
    margin: 0px;
    font-size: 18px;
  }
  .card-head-content {
    padding: 10px;
    box-sizing: border-box;
  }

  .card-foot-content {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .image-container {
    width: 200px;
    height: 100%;
  }
}
