@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
  --primary-color: #38609d;
  --secondary-color: #9ca9e0;
  --hover: #38609d;
  --dark: #000;
  --bg-color: #d6d7db;
  --shadow: 5px 5px 10px #888888;
}

body {
  background-image: url('/public/assets/images/bg.jpg');
  font-family: 'Lexend', sans-serif;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  min-height: 100vh;
  background-attachment: fixed;
}

.App {
  height: auto;
  min-height: 100vh;
  max-width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

p {
  font-weight: 200;
  font-size: 12px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart-container {
  background-color: #000;
  width: 90%;
  height: 70%;
  margin: 40px auto;
}
/* Small devices (tablets, 768px - 992px) */
@media only screen and (max-width: 783px) {
  body {
    background-attachment: fixed;
  }
}
